<% content_for :head do %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap" %>
  <%= stylesheet_link_tag "statistics" %>
<% end %>

<div class="navbar navbar-inverse">
  <div class="navbar-inner">
    <a class="brand" href="#">My statistics</a>
    <ul class="nav">
      <li class="active"><a href="#">Home</a></li>
      <li><%= link_to 'Top Users', admin_top_users_path %></li>
      <li class="divider-vertical"></li>
      <li class="right"><%= link_to 'Admin panel', admin_dashboard_path %></li>
    </ul>
  </div>
</div>

<div class="well">
  <center>
    <h2>Hello statistics</h2>
  </center>
</div>

  <div class="container">
    <div class="row">
      <div class="span4">
        <h4>Top requesters</h4>
        <%= render "top_requesters" %>
      </div>
      <div class="span4">
        <h4>Most succesfull requesters this week</h4>
        <%= render "top_requesters_tonight" %>
      </div>
      <div class="span4">
        <h4>General Statistics</h4>
        <%= render "general_statistics" %>
      </div>
    </div>
  </div>


<hr />

<%= render 'hourly_activity' %>

<%= render 'weekly_activity' %>
