<p id="notice"><%= notice %></p>

<p>
  <b>Painter:</b>
  <%= image_tag @painting.painter %>
</p>

<p>
  <strong>Painting:</strong>
  <%= image_tag @painting.external_link %>
</p>
<p>
  <b>Painting:</b>
  <%= image_tag @painting.image_url(:thumb).to_s %>
  <%= @painting.image %>
</p>


<%= link_to 'Edit', edit_painting_path(@painting) %> |
<%= link_to 'Back', paintings_path %>
