<script type="text/javascript">
  setInterval(function() {
    $('.accepted_songs').load('/home/reload');
  }, 3000);

  setInterval(function() {
    $('.latest_songs').load('/home/reloadlatestsongs');
  }, 3000);

  setInterval(function() {
    $('.top_songs').load('/home/reloadtopsongs');
  }, 3000);

  setInterval(function() {
    $('.marquee').load('/home/marquee');
  }, 3000);

  setInterval(function() {
    $('.activity').load('/home/activity');
  }, 3000);
</script>


<body id="dashboard">
  <%= javascript_include_tag "jquery-1.7.2" %>
  <%= javascript_include_tag "bootstrap" %>
  <%= stylesheet_link_tag "bootstrap" %>


  <div id="myCarousel" class="carousel slide" data-interval="2000">
    <% carousel_counter = 1 %>
    <ol class="carousel-indicators">
      <li data-target="#myCarousel" data-slide-to="0" class="active"></li>
        <% @songs.each do |s| %>
          <% carousel_counter += 0 %>
          <li data-target="#myCarousel" data-slide-to="<%= carousel_counter %>"></li>
        <% end %>
    </ol>
    <!-- Carousel items -->
    <div class="carousel-inner">
      <div class="active item">
        <h3>Yolo</h3>
      </div>
    <% @songs.each do |s| %>
      <div class="item">
	      <div class="top_songs">
	        <%= render "top_requests" %>
	      </div>
      </div>
    <% end %>
    </div>
  </div>
</body>   
