<!-- Home -->
<%= form_for(@song) do |f| %>
  <div data-role="page" id="page3">
      <div data-theme="a" data-role="header">
        <%= link_to 'Back', songs_path, :class => "ui-btn-left", "data-role" => "button" %>
          <h3>
              <center>
                Share :)
              </center>

          </h3>
      </div>
      <div data-role="content">
          <div data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                  <label for="textinput1">
                      Title
                  </label>
                      <%= f.text_field :name, :placeholder => "Please share a song title of your choice" %>
              </fieldset>
          </div>
          <div data-role="fieldcontain">
              <fieldset data-role="controlgroup">
                  <label for="textinput2">
                      Artist
                  </label>
                  <%= f.hidden_field :requester, :value => current_user.name %>
                  <%= f.text_field :artist, :placeholder => "Whoohoo!" %>
              </fieldset>
          </div>
          <%= f.submit "create a song", :name => "request_song_mobile" %>
      </div>
  </div>
<% end %>
