<html>
  <head>
    <title>Personal DJ</title>
    <%= stylesheet_link_tag "jqtouch.min", "theme.min" %>
    <%= javascript_include_tag "jquery.1.3.2.min", "jqtouch.min", "mobile" %>
    <%= csrf_meta_tags %>
    <%= yield :head %>
  </head>
  <body>
    <%= yield %>
  </body>
</html>
